body{
	background-color: #ffb6c1;
	margin: 0;
	padding: 0;
}

.login-form{
	width: 85%;
	max-width: 400px;
	background: #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: 0 0 10px #000000a1;
	text-align: center;
	font-family: sans-serif;

}

.login-form h3{
	margin-top: 0;
	font-weight: 200;
}

.txtb{
	border: 1px solid grey;
	margin:8px 0;
	padding: 10px 16px;
	border-radius: 8px;

}

.txtb label{
	display: block;
	text-align: left;
	text-transform: uppercase;
	font-size: 10px;
}

.txtb input{
	width: 100%;
	border: none;
}